body
{
	margin:0;
}

article
{
	border: 1px solid gray;
	background: black;
}

p 
{
	margin: 0;
	padding: 0;
}

 .red
{
	background: rgba(255,0,0,.7);
	width:300px;
}

.blue
{
	background: blue;
	width:50px;

}

.yellow
{
	background: yellow;
	width:50px;
	
}

.red .blue .yellow
{
display: inline;	
}

/*DISPLAY*/
.Header-a
{
	display: inline-block;
}

.Header-a a
{
	color: white;
	display: inline-block;
	margin: .5em;
			
}

.Header-containerTop
{	
	background: #002222;
	color: white;
	font-size: .8rem;
	overflow: hidden;
}

.Header-p 
{
	float: right;
	margin: .5em .5em .5em 0; 
}
.Header-numero-color
{
	color:yellow;
}