@font-face {
	font-family: 'icomoon';
	src:url('../icon/icomoon.eot?7amdhr');
	src:url('../icon/icomoon.eot?#iefix7amdhr') format('embedded-opentype'),
		url('../icon/icomoon.woff?7amdhr') format('woff'),
		url('../icon/icomoon.ttf?7amdhr') format('truetype'),
		url('../icon/icomoon.svg?7amdhr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e600";
	color: white;
	float:left;	
	display: line;
	font-size: 26px;
	padding: .5em;
}

/*----------------------------------------------------------*/
figure
{
	margin: 0;
}

.Header
{
	background: rgb(20,20,30);
	
	
}

.Header-a 
{
	display: inline-block;
}

.Header-a a
{
	color:white;
	display:inline-block;
	margin: .5em;
	font-family: "Arial";
	font-weight: normal;
	
}

.Header-containerTop
{
	color: white;
	font-size: .7rem;
	overflow: hidden;
}

.Header-numero 
{
	margin: 0;
}


.Header-numero-color
{
	color:yellow;
}

.Header-p 
{
	float: right;
	margin: .5em 1em .5em 0;
}


.Header-containerLog
{
	background:rgba(200,0,0,.9);
	text-align: center;
}

.Header-log
{
	margin:3em 0 3em 0;
	width: 500px;
}

.MainMenu
{
	background: rgba(195,0,0,.9);
	text-align: center;
	font-size: 1rem;
}

.MainMenu-list
{
	box-shadow: rgba(0,0,0,.3) 0px -10px 20px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
	/*border-top:1px solid black;*/
	margin: 0 auto;
	padding: 1em 0;
	background: rgb(180,0,0);
	width: 80%;
}

.MainMenu-item
{
	display: inline-block;	
	height: 1.5em;
	padding: .5em 0 .5em .2em;
	/*background: rgba(195,0,0,.9);*/
}	

.inicio:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;

}

.conocenos:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.servicios:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.cobertura:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.rastreo:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.cotizador:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.facturacion:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.extranet:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.aviso:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.contacto:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.MainMenu-link
{
	/*border:1px solid green;*/
	border-right: 1px solid black;
	color: rgb(210,180,180);
	padding:.5em .2em;
	text-decoration: none;

}

.MainMenu-link-last
{
	/*margin:0;*/
	border: 0 solid black;
	/*padding-right: 1.5em;*/
}

.Mid
{
	
}

.Aside 
{
	text-align: center;
}
.Aside-container 
{
	display: inline-block;
}

.Aside-container:hover
{
	box-shadow: rgba(0,0,0, .3) -5px -10px 15px;
}

.Aside-container2
{
	display: inline-block;
}

.Aside-image2
{
	width: 120px;
}
.Aside-image2:hover
{
	width:125px;
}

.Bot 
{
	line-height: 1.8em;
	box-shadow: rgba(0,0,0,.3) 0 -2px 10px;
	border-radius: 10px;
	background: #EEE;
	font-size: .9em;
	margin: 1em auto 0;
	position:relative;
	text-align: center;
	width: 80%;
	overflow: hidden;
	padding-bottom: 2em;
}

.Bot-article1
{
	display: inline-block;
	margin: .5em;
	text-align: justify;
	width: 30%;
}

.Bot-call
{
	border-radius: 8px;
	color: white;
	box-shadow: rgba(0,0,0,.6) 0 -5px 10px;
	text-align: right;
	bottom:0;
	left: 0;
	background: #B22222;
	line-height:.2em;
	position: absolute;
	padding: .5em .5em .5em 0;
	width: 220px;

}



.Bot-article2
{
	display: inline-block;
	margin: .5em;
	text-align: justify;
	vertical-align: top;
	width: 30%;
}

.Bot-article3
{
	display: inline-block;
	margin: .5em;
	vertical-align: top;
	text-align: justify;
	width: 30%;
}

.Bot-line
{

	display: inline-block;
	height: 180px;
	vertical-align: bottom;
	border:1px solid #CCC;
} 

.Bot-punto
{
	background: #B22222;
	border-radius: 50% 50%;
	box-shadow: rgba(0,0,0, .8) 0 2px 2px;
	display: inline-block;
	padding:.3em;
	width: .1em;
	height: .1em;
	margin:0 1em 0 0;
}

.Footer
{
	background: rgb(20,20,30);
	color: white;
	font-size: .6em;
	text-align: center;
	padding: 1em;
}

.Footer p 
{
	margin:0;
		
}