figure
{
	margin: 0;
}

.Header
{
	background: rgb(20,20,30);
	font-size: .9em;
	font-style: italic;
}

.Header-containerTop
{

}

.Header-a 
{
	display: inline-block;
	margin-left: 2%;
	width:48%;
}

.Header-a a
{
	color:white;
	font-size: .8em;
	margin: .5em;
	text-decoration: none;
}


.Header-numero
{
	color:white;
	display: inline-block;
	margin: 5px;
	text-align: right;
	width:48%;
}

.Header-numero-color
{
	color:yellow;
}


.Header-containerLog
{
	background:rgba(200,0,0,.9);
	text-align: center;
}

.Header-log
{
	margin:3em 0 3em 0;
	width: 500px;
}

.MainMenu
{
	background: rgba(195,0,0,.9);
	text-align: center;
	font-size: 1rem;
}

.MainMenu-list
{
	box-shadow: rgba(0,0,0,.3) 0px -10px 20px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px; 
	/*border-top:1px solid black;*/
	margin: 0 5em 0 2em;
	padding: 1em 0;
	background: rgb(180,0,0);
}

.MainMenu-item
{
	display: inline-block;	
	height: 1.5em;
	padding: .5em 0 .5em 1em;
	/*background: rgba(195,0,0,.9);*/
}	

.inicio:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;

}

.conocenos:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.servicios:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.cobertura:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.rastreo:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.cotizador:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.facturacion:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.extranet:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.aviso:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.contacto:hover
{
	text-decoration: underline;
	text-shadow: rgba(0,0,0,1) 5px -4px 10px;
}

.MainMenu-link
{
	/*border:1px solid green;*/
	border-right: 1px solid black;
	color: rgb(240,240,230);
	padding:.5em 1em 1em .5em;
	text-decoration: none;

}

.MainMenu-link-last
{
	/*margin:0;*/
	border: 0 solid black;
	/*padding-right: 1.5em;*/
}




