<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>PULSE 2014</title>
</head>
<body>
	<header>
		<figure>
			<img src="" alt="imagen del logo">
		</figure>
		<h1>PULSE 2014 Comunidad de personas</h1>
		<figure>
			<img src="" alt="imagen del avatar">
		</figure>
	</header>
	<nav>
		<ul>
			<li>
				<a href="#">Python</a>
			</li>
			<li>
				<a href="#">HTML5</a>
			</li>
			<li>
				<a href="#">JavaScript</a>
			</li>
			<li>
				<a href="#">CSS3</a>
			</li>
			<li>
				<a href="#">Django</a>
			</li>
			<li>
				<a href="#">Publicar</a>
			</li>
		</ul>
	</nav>
	<section>
		<article>
			<figure>
				<img src="" alt="imagen del articulo">
			</figure>
			<h2>Título del artículo</h2>
			<p>por
				<a href="">Edgardo Torres</a>
			</p>
			<div>
				<a>compora</a>
				<span>Hace <strong>5</strong> min ago</span>
			</div>
		</article>
		<div>
			<a>up</a>
			<div>3141</div>
			<a>down</a>
			<a>455</a>
			<a>*</a>
		</div>
		<footer>
			<p>ksjdhf</p>
			<p>ksjdjhfgks</p>
		</footer>
	</section>
</body>
</html>