<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>PULSE 2014</title>
</head>
<body>
	<header>
		<figure>
			<img src="" alt="imagen del logo">
		</figure>
		<h1>PULSE 2014 Comunidad de personas</h1>
		<figure>
			<img src="" alt="imagen del avatar">
		</figure>
	</header>
	<nav>
		<ul>
			<li>
				<a href="#">Python</a>
			</li>
			<li>
				<a href="#">HTML5</a>
			</li>
			<li>
				<a href="#">JavaScript</a>
			</li>
			<li>
				<a href="#">CSS3</a>
			</li>
			<li>
				<a href="#">Django</a>
			</li>
			<li>
				<a href="#">Publicar</a>
			</li>
		</ul>
	</nav>
	<section>
		<article>
			<figure class="imagen_item">
				<img src="" alt="imagen del articulo">
			</figure>
			<h2 class="titulo_item"><a href="#">Título del artículo</a></h2>
			<div class="autor_item">por
				<a href="">Edgardo Torres</a>
			</div>
			<div class="datos_item">
				<a href="#" class="tag_item">pony</a>
				<span class="fecha_item">Hace <strong>5</strong> min ago</span>
			</div>
			<div class="votacion">
				<a href="#" class="up">up</a>
				3141
				<a href="#" class="down">down</a>
				<a href="#" class="comentarios_item">455</a>
				<a href="#" class="guardar_item">*</a>
			</div>
			<footer>
				<p>
					<strong>ksjdhf</strong>
				</p>
				<p>ksjdjhfgks</p>
			</footer>
		</article>
	</section>
</body>
</html>