/*el HEADER se ajusto con float y position 
NOTA: absolute busca el 0,0 relativo. el que quieres mover 
tiene que tener absolute.
NOTA2:Se le pone display:block a las >a> para que tenga margin y pading*/
/*el NAV se ajusto con diplay:inline.block y la etiqueta 
publicar se ajusto en el position*/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?pycls6');
	src:url('../fonts/icomoon.eot?#iefixpycls6') format('embedded-opentype'),
		url('../fonts/icomoon.woff?pycls6') format('woff'),
		url('../fonts/icomoon.ttf?pycls6') format('truetype'),
		url('../fonts/icomoon.svg?pycls6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-lapiz:before {
	content: "\e601";
	margin-right: .8em;
}
.icon-estrella:before {
	content: "\e602";
	color: yellow;
	margin-right: .8em;
	position: relative;
	top: .1em;

}
.icon-f-abajo:before {
	content: "\e603";
	color: red;
}
.icon-f-arriba:before {
	content: "\e604";
	color: green;
}
/*-----------------------------------------*/
a
{
	color: #22BCE0;
}

body
{
	background: #EEEEEE;
	font-family: "Open Sans", "Arial";
	font-size: 16px;
}

footer 
{
	color: rgba(255,255,255, .7);
	background: #22BCE0;
	text-align: center;
	padding: 1em;
}

footer p:first-child
{
	margin-bottom: 0;
}

footer p:last-child
{
	margin-top:0;
}

footer p:last-child:after
{
	content: " -";
}

footer p:last-child:before
{
	content: "- ";
}
header
{
	background: #343854;
	color: white;
	overflow: hidden;
	padding: .5em;
	position: relative;
}

header figure
{
	float: left;
	margin: 0;
}

header h1
{
	font-size: 1.2em;
	font-weight:normal;
	margin: .2em 70px 0 0;
	/*text-align: center;*/
}

header #avatar
{
	margin: .5em .5em 0 0 ;
	right: 0;
	position:absolute;	
	top: 0;
}
header #avatar img
{
	border-radius: 50%;
	width: 55px;
}

header #logo
{
	
	border-right: 1px solid white;
	margin-right: .5em;
}

header #logo img
{
	-webkit-transition:1s;
	/*--moz-transform:rotate(90deg);
	--o-transform:rotate(90deg);
	--ms-transform:rotate(90deg);*/
	margin-right: .5em;
	padding-right: .5em;
	width: 52px;
}

header #logo img:hover
{
	-webkit-transform:rotate(360deg);
}

nav
{
	background: #80BCA3;
	padding: 0 5em 0 0;
	position: relative;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul #publicar_nav
{
position: absolute;
top: -.3em;
right: 0;	
}

nav ul #publicar_nav a 
{
background: #22BCE0;
border-radius: 5px;
box-shadow: rgba(0,0,0,.5) 5px 5px 20px;
font-style: italic;
padding: .8em .5em;	
text-decoration: none;
text-shadow: rgba(0,0,0,.5) 2px 2px 5px;
/*rgba() es e color y el ultimo valor es la trasparencia
el primer valor desplazamiento en X 2do valor 
desplazamiento en Y y 3ro la transparencia*/
} 

nav ul #publicar_nav a:hover:before
{
	-webkit-transform:scale(1.2);
	color:red;
}

nav ul li
{
display: inline-block;
margin: 0 1em 0 0;
}

nav ul li a 
{
	color: white;
	display: block;
	padding: .5em 0;
	-webkit-transition:.3s;
}

nav ul li a:hover
{
	background: #343854;
}

aside
{
	display: none;
}


#contenido
{
	margin: 1em;
}

#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	/*overflow: hidden;*/
	position: relative;
}

#contenido .item .autor_item
{
	color: #AAA;
}

#contenido .item .datos_item
{
	margin: 1em 1em 0 0;
	text-align: right;
}

#contenido .item .datos_item .fecha_item
{
	color: #AAA;
}
#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	border-radius: .5em;
	color: white;
	float: left;
	padding: .2em .5em;
	display: inline-block;
	text-decoration: none;
}
#contenido .item .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}

#contenido .item .imagen_item img 
{
	width: 96px;
}

#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	padding: 1em 1em 0 0;
}

#contenido .item .titulo_item a 
{
	color: #444;
	text-decoration: none;
}

#contenido .item .votacion
{
	background: white;
	border-radius: 0 0 .5em .5em;
	position: absolute;
	top: 100%;
	left: 5%;
	width: 90%;
	margin-top: 3px;
	padding: .2em .5em;
}

#contenido .item .votacion a 
{
	text-decoration: none;
}

#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
	float:right;
}

@media screen and (min-width: 800px){

	#contenido
	{
		/*overflow: hidden;*/
		/*display: inline-block;*/
		width: 70%
	}

	#contenido .item
	{
		width:48%;
		display: inline-block;
	}

	#contenido .item:nth-child(odd)
	{
		margin-right: 2%;
	}

}

@media screen and (min-width: 1000px){

	aside
	{
		display: block;
		float:right;
		margin:1em;
		width:25%;
	}
	
	video
	{
		width: 100%;
	}
}











