.Header{
	text-align: center;
}
.Header-title{
	display:inline-block;
	margin-top:1em;
	color: red;
	
}

.Header-imageContainer{
	display:inline-block;
	margin: 0;
	
}

.Header-image{
	width:2em;
}

.Header-subTitle{
	margin:0;
}