<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="author" content="Edgardo Torres" />
	<title>TRESGUERRAS</title>
	<link rel="stylesheet" href="../../../static/css/normalize.css" />
	<link rel="stylesheet" href="../static/css/style.css" />
</head> 
<body>
	<header class="Header">
		<section class="Header-containerTop">
			<div class="Header-a">
				<a href="#">Aviso de privacidad</a>
				<a href="#">Administrador</a>
				<a href="#">Intranet</a>
				<a href="#">CRM</a>
				<a href="#">English</a>
				<a href="#">*</a>
			</div>
			<div class="Header-p">
				<p class="Header-numero">Call Center sin costo <span class="Header-numero-color">01 800 710 8352</span></p>
			</div>
		</section>
		<section class="Header-containerMid">
			<figure class="Header-containerLog">
				<img class="Header-log" src="../static/images/logo.png" alt="tresguerras">
			</figure>
		</section>
		<nav class="MainMenu" >
			<ul class="MainMenu-list">
				<li class="MainMenu-item inicio">
					<a class="MainMenu-link" href="#">inicio</a>
				</li>
				<li class="MainMenu-item conocenos">
					<a class="MainMenu-link" href="#">conócenos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link servicios" href="#">servicios</a>
				</li>
				<li class="MainMenu-item cobertura">
					<a class="MainMenu-link" href="#">cobertura</a>
				</li>
				<li class="MainMenu-item rastreo">
					<a class="MainMenu-link" href="#">rastreo</a>
				</li>
				<li class="MainMenu-item cotizador">
					<a class="MainMenu-link" href="#">cotizador</a>
				</li>
				<li class="MainMenu-item facturacion">
					<a class="MainMenu-link" href="#">facturación</a>
				</li>
				<li class="MainMenu-item extranet">
					<a class="MainMenu-link" href="#">extranet</a>
				</li>
				<li class="MainMenu-item aviso">
					<a class="MainMenu-link" href="#">aviso de privacidad</a>
				</li>
				<li class="MainMenu-item contacto">
					<a class="MainMenu-link MainMenu-link-last" href="#">contacto</a>
				</li>
			</ul>
		</nav>
	</header>
	<section>
		<div class="Mid">
			<figure class="Mid-containerImage">
				<img class="Mid-image" src="../static/images/1.jpg" alt="carrusel de imagenes">
			</figure>
		</div>
		<aside class="Aside">
			<figure class="Aside-container">
				<a href="http://www.cnnexpansion.com/rankings/2013/super-empresas-2013" target="_black">
					<img class="Aside-image" src="../static/images/superEmpresas.jpg" alt="imagen super empresas">
				</a>
			</figure>
			<figure class="Aside-container2">
				<a href="">
					<img class="Aside-image2" src="../static/images/bolsa_trabajo.jpg" alt="bolsa de trabajo">
				</a>
			</figure>
		</aside>		
	</section>
	<section class="Bot">
			<article class="Bot-article1">
				<h3><div class="Bot-punto"></div>Servicio de clase mundial</h3>
				<p>Somos la unica empresa de trasporte en México en contar con la sertificacion ISO9001 EN TODO SU PROCESO DE SERVCIO. Esto incluye el área operativa y administrativa.</p>
				<div class="Bot-call">
					<div class="icon-phone"></div>
					<p>Call Center Lada sin costo</p>
					<p>01 800 710 8352</p>
				</div>
			</article>
			<div class="Bot-line"></div>
			<article class="Bot-article2">
				<h3><div class="Bot-punto"></div>Excelente Infraestructura</h3>
				<p>Contamos con una flota moderna de tractocamiones, camiones tipo tortón y camionetas de reparto Así como una red de 48 terminales de carga y 8 bodegas de captación a lo largo de la Republica Mexicana, cubrinedo un 95% del territorio.</p>
			</article>
			<div class="Bot-line"></div>
			<article class="Bot-article3">
				<h3> <div class="Bot-punto"></div>Amplia Experiencia en el ramo</h3>
				<p>Contamos con más de 78 años de trayectoria en el mercado.</p>
			</article>
	</section>
	<footer class="Footer">
		<p>Copyright 2014 Autotransportes de Carga Tresguerras S.A de C.V.</p>
	</footer>
</body>
</html>
