<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Edgardo Torres">
	<title>TRESGUERRAS</title>
</head>
<body>
	<header>
		<section>
			<a href="#">Aviso de privacidad</a>
			<a href="#">Administrador</a>
			<a href="#">Intranet</a>
			<a href="#">CRM</a>
			<a href="#">English</a>
			<a href="#">*</a>
			<p>Call Center sin costo 01 800 710 8352</p>
		</section>
		<section>
			<figure>
				<img src="" alt="tresguerras">
			</figure>
		</section>
		<nav>
			<ul>
				<li>
					<a href="#">inicio</a>
				</li>
				<li>
					<a href="#">conócenos</a>
				</li>
				<li>
					<a href="#">servicios</a>
				</li>
				<li>
					<a href="#">cobertura</a>
				</li>
				<li>
					<a href="#">rastreo</a>
				</li>
				<li>
					<a href="#">cotizador</a>
				</li>
				<li>
					<a href="#">facturación</a>
				</li>
				<li>
					<a href="#">extranet</a>
				</li>
				<li>
					<a href="#">aviso de privacidad</a>
				</li>
				<li>
					<a href="#">contacto</a>
				</li>
			</ul>
		</nav>
	</header>
	<section>
		<div>
			<figure>
				<img src="" alt="carrusel de imagenes">
			</figure>
		</div>
		<aside>
			<figure>
				<img src="" alt="imagen super empresas">
			</figure>
		</aside>		
	</section>
	<footer>
			<article>
				<h3>Servicio de clase mundial</h3>
				<p>Somos la unica empresa de trasporte en México en contar con la sertificacion ISO9001 EN TODO SU PROCESO DE SERVCIO. Esto incluye el área operativa y administrativa.</p>
				<div>
					<p>Call Center Lada sin costo</p>
					<p>01 800 710 8352</p>
				</div>
			</article>
			<article>
				<h3>Excente Infraestructura</h3>
				<p>Contamos con una flota moderna de tractocamiones, camiones tipo tortón y camionetas de reparto Así como una red de 48 terminales de carga y 8 bodegas de captación a lo largo de la Republica Mexicana, cubrinedo un 95% del territorio.</p>
			</article>
			<article>
				<h3>Amplia Experiencia en el ramo</h3>
				<p>Cntamos con más de 78 años de trayectoria en el mercado.</p>
			</article>
	</footer>
</body>
</html>