<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Orden</title>
	<link rel="stylesheet" href="../static/css/orden.css">
</head>
<body>
	<header class="hheader">
		<h1>Como acomodar las cosas</h1>
	</header>

	<section class="container">
		<article>
			<div class="red">
				<p >Texto 1 <br />kajsdhfka osdfglszxcvzxc</p>
			</div>
			<div class="blue">
				<p>Texto 2</p>
			</div>
			<div class="yellow">
				<p>Texto 2</p>
			</div>
		</article>
		<p>BLOCK</p>
		<div></div>
		<div></div>
	</section>

	
</body>
</html>