<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Orden</title>
	<link rel="stylesheet" href="../static/css/orden.css">
</head>
<body>
	<header class="hheader">
		<h1>Como acomodar las cosas</h1>
	</header>

	<section class="container">
		<article>
			<div class="red">
				<p >Texto 1 <br />kajsdhfka osdfglszxcvzxc</p>
			</div>
			<div class="blue">
				<p>Texto 2</p>
			</div>
			<div class="yellow">
				<p>Texto 2</p>
			</div>
		</article>
		<p>BLOCK</p>
		<div></div>
		<div></div>
	</section>
	<br>
	<br>
<!-- DISPLAY-->
	<section class="Title">
		<h1>Display</h1>
	</section>
	<section class="Header-containerTop">
		<div class="Header-a">
			<a href="#">Aviso de privacidad</a>
			<a href="#">Administrador</a>
			<a href="#">Intranet</a>
			<a href="#">CRM</a>
			<a href="#">English</a>
			<a href="#">*</a>
		</div>
		<div class="Header-p">
			<p class="Header-numero">Call Center sin costo <span class="Header-numero-color">01 800 710 8352</span></p>
		</div>
	</section>

	
</body>
</html>