<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Portafolio</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/estilos.css">
	<link rel="stylesheet" href="../static/css/normalize.css">
</head>

<body>
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item" >
					<a class="MainMenu-link" href="#yo">Yo</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#perfil">Perfil</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#trabajo">Trabajo</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#contacto">Contacto</a>
				</li>
			</ul>
		</nav>
		<figure class="Header-imageContainer">
			<img src="../static/images/avatar.jpg" alt="mi avatar" class="Header-image">
			<figcaption class="Header-imageDescription"> 
				<a class="Header-link" href="http://twitter.com/elkabal82" target = "_black">@elkabal82</a> 
			</figcaption>
			<p class="Header-name">Edgardo Torres Vancen Bocuh</p>
		</figure>
	</header>
	<section id="perfil" class="Profile">
		<h2 class="Profile-title u-title">Perfil</h2>
		<p class="Profile-description">
			Hambriento por aprender algo nuevo cada día
		</p>
		<a class="Profile-link" href="http://facebook.com/?"target = "_black">Facebook</a>
		<a class="Profile-link" href="http://github.com/elkabal82"target = "_black">Github</a>
	</section>
	<section id="trabajo" class="Work">
		<h2 class="Work-title u-title">Trabajo</h2>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="mejorandola.jpg" alt="Descripcion de la imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="mejorandola.jpg" alt="Descripcion de la imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="mejorandola.jpg" alt="Descripcion de la imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="mejorandola.jpg" alt="Descripcion de la imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="mejorandola.jpg" alt="Descripcion de la imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
	</section>
	<footer id="contacto" class="Footer">
		<h3 class="Footer-title">Contacto</h3>
		<p class="Footer-description">Tienes una sugerencia o quieres trabajar conmigo, contactame con elformulario</p>
		<form action="" class="Footer-form">
			<input class="Footer-formInput" type="text" placeholder="Nombre"/>
			<input class="Footer-formInput" type="email" placeholder = "Email"/>
			<textarea class="Footer-textarea" name="" id="" cols="30" rows="3" placeholder = "Motivo"></textarea>
			<button type="submit" class="Footer-botton">Contactarme</button>
		</form>
	</footer>

</body>
</html>