<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Portafolio</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li>
					<a href="#yo">Yo</a>
				</li>
				<li>
					<a href="#perfil">Perfil</a>
				</li>
				<li>
					<a href="#trabajo">Trabajo</a>
				</li>
				<li>
					<a href="#contacto">Contacto</a>
				</li>
			</ul>
		</nav>
		<figure>
			<img src="avatar.jpg" alt="mi avatar">
			<figcaption> <a href="http://twitter.com/elkabal82" target = "_black">@elkabal82</a> 
			</figcaption>
			<p>Edgardo Torres Vancen Bocuh</p>
		</figure>
	</header>
	<section>
		<h2>Perfil</h2>
		<p>
			Hambriento por aprender algo nuevo cada día
		</p>
		<a href="http://facebook.com/?"target = "_black">Facebook</a>
		<a href="http://github.com/elkabal82"target = "_black">Github</a>
	</section>
	<section>
		<h2>Trabajo</h2>
		<article>
			<figure>
				<img src="mejorandola.jpg" alt="Descripcion de la imagen">
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="mejorandola.jpg" alt="Descripcion de la imagen">
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="mejorandola.jpg" alt="Descripcion de la imagen">
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="mejorandola.jpg" alt="Descripcion de la imagen">
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="mejorandola.jpg" alt="Descripcion de la imagen">
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
	</section>
	<footer>
		<h3>Contacto</h3>
		<p>Tienes una sugerencia o quieres trabajar conmigo, contactame con elformulario</p>
		<form action="">
			<input type="text" placeholder="Nombre"/>
			<input type="email" placeholder = "Email"/>
			<textarea name="" id="" cols="30" rows="3" placeholder = "Motivo"></textarea>
			<button type="submit">Contactarme</button>
		</form>
	</footer>

</body>
</html>