<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>PROGRAMACION BASICA</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/Clase-frontend.css">
	<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
</head>
<body>
	<header class="Header">
		<h1 class="Header-title">Proyectos de Programacion Basica</h1>
		<h4 class="Header-subTitle">by Edgardo Torres Vanden Bouch</h4>
	</header>
<!--Menu-->
	<nav class="Nav">
		<ul class="Nav-list">
			<li class="Nav-item">
				<a class="Nav-link" href="../index.html">Home</a>
			</li>
			<li class="Nav-item">
				<a class="Nav-link" href="Clase-frontend.html">Frondend</a>
			</li>
			<li class="Nav-item">
				<a class="Nav-link" href="Php.html">PHP</a>
			</li>
			<li class="Nav-item">
				<a class="Nav-link" href="Frontend-pro.html">Frondend Pro</a>
			</li>
			<li class="Nav-item">
				<a class="Nav-link" href="Backend-pro.html">Backend</a>
			</li>
			<li class="Nav-item">
				<a class="Nav-link" href="Anjular-js.html">Anjular JS</a>
			</li>
		</ul>	
	</nav>
<!--Cuerpo de la pagina-->
	<section>
		<a href="../CLase-JS/1-clase/peso-marte/peso-marte.html" target="_black">Peso en marte</a>
		<a href="../CLase-JS/1-clase/piedra-papel-tijeras/ppt.html" target="_black">Piedra, Papel o Tijeras</a>
		<a href="../CLase-JS/1-clase/pptls/pptls.html" target="_black">Piedra, Papel, Tijeras, Lagarto. Spock</a>
		<a href="../CLase-JS/2-clase/minas/" target="_black">Minas</a>
	</section>
</body>
</html>